.footer {
    width: auto;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    padding: 20px;
    margin-bottom: 50px;
}

.footer p {
    text-align: center;
    line-height: 1.4;
    font-size: 0.9vw;
    color: #fff;
}

@media only screen and (max-width: 600px) {
    .footer {
        width: 100%;
    }

    .footer p {
        font-size: 1.8vmax;
    }
}

@media only screen and (max-width: 1200px) {
    .footer {
        width: 100%;
    }

    .footer p {
        font-size: 1.5vmax;
    }
}