.title-card {
    width: 100%;
}

/* .title-card .vbs-title,
.title-card .vbs-year,
.title-card .vbs-logo */

.title-card :where(.vbs-title, .vbs-year, .vbs-logo) {
    /* align-items: center; */
    /* width: calc(100%/2); */
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 10px;
    filter: drop-shadow(3px 2px 2px #00073f);
}

.vbs-title img {
    width: calc(100%/2.5);
}

.vbs-year img {
    width: 13%;
}

.vbs-logo img {
    width: calc(100%/4);
}

.info-card {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.center-card {
    font-size: large;
    /* width: calc(100%/1.3); */
    background-color: white;
    
    color: #d21900;
    letter-spacing: 2px;
    border-radius: 20px;
    padding: 10px;
    /* font-size: 1.6vw; */

    border: 7px solid rgb(255, 255, 255);
    box-shadow: -2px 2px 5px 1px rgb(107, 107, 107) inset,
        0 0 50px 3px rgba(240, 172, 0, 0.561) inset;

    filter: drop-shadow(3px 3px 3px #000);
}

.divided-line {
    /* padding: 5px; */
    height: 70px;
    border: 1px solid #d21900;
    margin: 0 10px 0 10px;
}

.info-time {
    width: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;

    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    line-height: 1.5;
    /* font-size: 1.5vw; */
}

/* .time-card { */
    /* padding: 0 15px 0 15px; */
    /* border: 1px solid #d21900; */
    /* margin: 0.1rem; */
/* } */

.time {
    text-align: center;
}

.info-note {
    margin-top: 10px;
}

.info-note,
.info-activities,
.info-location
{
    text-align: center;
    padding: 5px;
}

.info-activities {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

@media only screen and (max-width: 600px) {
    .vbs-title img {
        width: calc(100%/1.2);
    }

    .vbs-year img {
        width: calc(100%/4);
    }

    .vbs-logo img {
        width: calc(100%/2);
    }

    .center-card {
        width: 100%;
        font-size: 3.3vw;
    }

    .divided-line {
        /* display: none; */
        height: 40px;
    }
    
}