.title-card {
    width: 100%;
}

/* .title-card .vbs-title,
.title-card .vbs-year,
.title-card .vbs-logo */

.title-card :where(.vbs-title, .vbs-year, .vbs-logo) {
    /* align-items: center; */
    /* width: calc(100%/2); */
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 10px;
    filter: drop-shadow(3px 2px 2px #00073f);
}

.vbs-title img {
    width: calc(100%/3.5);
}

.vbs-year img {
    width: 8%;
}

.vbs-logo img {
    width: calc(100%/5.9);
}

.info-card {
    text-align: center;
    padding: 10px;
    background-color: white;
    font-family: sans-serif;
}

.date-time,
.location
{
    font-weight: 400;
    font-size: 30px;
    color: #29369a;
    margin: 0 0 50px 0;
    width: 100%;
}

.date-time-info p {
    line-height: 1.5rem;
    margin-top: 5px;
}

.note-box {
    font-size: 18px;
    padding: 10px 0 10px 0;
}

/* .date-time-info p { */
    /* margin: 5px 0 0 0; */
/* } */

/* .center-card {
    font-size: large;
    background-color: white;
    
    color: #d21900;
    letter-spacing: 2px;
    border-radius: 20px;
    padding: 10px;

    border: 7px solid rgb(255, 255, 255);
    box-shadow: -2px 2px 5px 1px rgb(107, 107, 107) inset,
        0 0 50px 3px rgba(240, 172, 0, 0.561) inset;

    filter: drop-shadow(3px 3px 3px #000);
} */

/* .divided-line {
    height: 70px;
    border: 1px solid #d21900;
    margin: 0 10px 0 10px;
} */

/* .info-time {
    width: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;

    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    line-height: 1.5;
} */

/* .time-card { */
    /* padding: 0 15px 0 15px; */
    /* border: 1px solid #d21900; */
    /* margin: 0.1rem; */
/* } */

/* .time {
    text-align: center;
}

.info-note {
    margin-top: 10px;
}

.info-note,
.info-activities,
.info-location
{
    text-align: center;
    padding: 5px;
} */

/* .info-activities {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
} */

@media only screen and (max-width: 600px) {
    .vbs-title img {
        width: calc(100%/1.2);
    }

    .vbs-year img {
        width: calc(100%/4);
    }

    .vbs-logo img {
        width: calc(100%/2);
    }
    
}

@media only screen and (max-width: 1200px) {
    .vbs-title img {
        width: calc(100%/2.5);
    }

    .vbs-year img {
        width: 13%;
    }

    .vbs-logo img {
        width: calc(100%/4);
    }
}