* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: #021023;
  background-size: cover;

  background-image: url(./components/store/pics/2025VBS_backdrop.png);
  background-size: 100vw 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: #021023;
    background-image: url(./components/store/pics/2025VBS_backdrop_portrait.png);
    background-size: cover;
    /* background-repeat: no-repeat; */
    background-size: 100vw 100vh;
    /* background-attachment: fixed; */
  }
}

@media only screen and (min-width: 600px) and (max-width: 1200px) {
  body {
    background-color: #021023;
    background-image: url(./components/store/pics/2025VBS_backdrop_portrait.png);
    /* background-size: cover;
    background-repeat: no-repeat; */
    /* background-size: 100vw 100vh; */
    background-attachment: fixed;
  }
}

